{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    <style>
        /* Define custom styles for nav-button */
        .nav-button {
            border-color: #0dcaf0; /* Set the border color to blue */
            color: #0dcaf0; /* Set the text color to blue */
            border-radius: 0.25rem; /* Rounded border edges */
        }
    </style>
</head>
<body>
    <h1>Your Profile</h1>
</body>
<section class="container-fluid">
    <div class="container site-section" id="yoga-1">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="img-thumbnail img-fluid" src="../static/img/height.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Your Height</h4>
                        <p class="card-text">{{ data.height }} cms<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="img-thumbnail img-fluid" src="../static/img/weight.png">
                    <div class="card-body">
                        <h4 class="card-title">Your Weight</h4>
                        <p class="card-text">{{ data.weight }} Kgs<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="img-thumbnail img-fluid" src="../static/img/weightgoal.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Your Target Weight</h4>
                        <p class="card-text">{{ data.target_weight }} Kgs<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<center>
    <button class="nav-button">
        <a href="{{ url_for('user_profile') }}">Edit</a>
    </button>
</center>
<br><br>
</html>
{% endblock content %}
